{% extends "base.html" %}
{% block title %} Войти на сайт {% endblock %}
{% block main_title %}<div class="main__header">
    <h1 class="main__title">Войти на сайт</h1>
</div>{% endblock %}

{% block static_stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static './pages/form.css' %}">
{% endblock static_stylesheet %}

{% block menu %}
{% include "menu.html" with index=True %}
{% endblock %}

{% block content %}
{% load user_filters %}
<div class="form-container">
    <form class="form" method="post" action="{% url 'login' %}">
      {% csrf_token %} 
      <div class="form__group">
        <label for="{{ form.username.id_for_label }}" class="form__label">Имя пользователя</label>
        <div class="form__field-group">
          {{ form.username|addclass:"form__input" }}
        </div>
      </div>
      <div class="form__group">
        <label for="{{ form.password.id_for_label }}" class="form__label">Пароль</label>
        <div class="form__field-group">
          {{ form.password|addclass:"form__input" }}
          {% if form.errors %}
          <span class="form__error" role="alert">
            Имя пользоваетеля и пароль не совпадают. Введите правильные данные.</span>             
          {% endif %}
        </div>
      </div>       
      <div class="form__footer">
          <button type="submit" class="button button_style_blue">Войти</button>
           <a href="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
        </div>
    </form>
</div>  
{% endblock %}

