{% extends "base.html" %}
{% block title %} Сброс пароля {% endblock %}
{% block main_title %}<div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
  </div>{% endblock %}

{% block static_stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static './pages/form.css' %}">
{% endblock static_stylesheet %}

{% block menu %}
{% include "menu.html" with index=True %}
{% endblock %}

{% block content %}
{% load user_filters %}

<div class="form-container">
    <form method="post" class="form">

        {% csrf_token %}
        <p class="form__info-text">
            Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
        </p>

        {% for field in form %}

        <div class="form__group">
        <label for="{{ field.id_email }}" class="form__label"> {{ field.label }}</label>
        <div class="form__field-group">

       
        {{ field|addclass:"form__input" }}

    </div>
</div>
        {% endfor %}

        <div class="form__footer">
            <button type="submit" class="button button_style_blue">
                Сбросить пароль
            </button>
        </div>
    </form>
{% endblock %}
            
