{% extends "base.html" %}
{% block title %} Изменить пароль {% endblock %}
{% block main_title %}{% endblock %}

{% block static_stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static './pages/form.css' %}">
{% endblock static_stylesheet %}

{% block menu %}
{% include "menu.html" with index=True %}
{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Сброс пароля прошёл успешно.</h1>
            <p class="lead">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
            <p class="lead"><a href="{% url  'index' %}">Вернуться на главную</a></p>
        </div>
    </div>
</main>

{% endblock %}

