<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Заголовок страницы{% endblock %}</title>
    {% block static_stylesheet %}{% endblock static_stylesheet %}
</head>
<body class="body">
    <header class="header">
        {% block menu %}{% endblock menu %}
        {% include 'nav.html' %}
    </header>
    <main class="main container">
        {% block main_title %}Заголовок страницы{% endblock %}
        {% block tags %}{% endblock tags %}
        {% block content %}{% endblock content %}
    </main>
    <footer class="footer">
        <div class="footer__container container">
            <a href="/" class="footer__brand link">Продуктовый помощник</a>
            <ul class="footer__items">
                <li class="footer__item"><a href="/about-author" class="footer__link link">Об авторе </a></li>
                <li class="footer__item"><a href="/about-spec" class="footer__link link">Технологии</a></li>
            </ul>
        </div>
    </footer>
    {% block scripts_js %}{% endblock %}
</body>
</html>