{% extends "base.html" %}
{% block title %} Избранное  {% endblock %}

{% block main_title %}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
{% endblock %}

{% block static_stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">         
{% endblock static_stylesheet %}

{% block menu %}
{% include "menu.html" with myfavorites=True %}
{% endblock %}

{% load recipe_tag %}
{% block tags %}
<ul class="tags">
    {% with filter_values=request.GET|tag_values %}
    {% for tag in tags %}
        <li class="tags__item">
            <a id='{{ tag.slug }}'
            class="tags__checkbox tags__checkbox_style_{{ tag.style }} {% if tag.slug in filter_values %}tags__checkbox_active{% endif %}"
            href="{% url 'favorites' %}?{{ request|tag_link:tag }}">
            </a>
            <span class="tags__label">{{ tag.name }}</span>
        </li>
    {% endfor %}
    {% endwith %}
</ul>
</div> 
{% endblock %}    
 
{% block content %}
<div class="container"></div>
<div class="card-list">
    {% for recipe in page %}
        {% include "recipe_item.html" with recipe=recipe %}
    {% endfor %}
</div>
<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </ul>
</nav> 
</div>
{% endblock %}            

{% block scripts_js %}
<script src="{% static './js/components/MainCards.js' %}"></script>   
<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>   
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/AuthorRecipe.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>   
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script> 
{% endblock %}
