{% extends "base.html" %}

{% block title %}
{% if edit %} Редактирование рецепта {% else %} Создание рецепта {% endif %}
{% endblock %}

{% block main_title %}
<div class="main__header">
  <h1 class="main__title">
    {% if edit %} Редактирование рецепта {% else %} Создание рецепта {% endif %}
  </h1>
</div>
{% endblock %}

{% block static_stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static './pages/form.css' %}">
{% endblock static_stylesheet %}

{% block menu %}
{% include "menu.html" with new_recipe=True %}
{% endblock %}

{% load static %}
{% load user_filters %}

{% block content %} 
<div class="form-container">
  <form  class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form__group">
        <label for="{{ form.name.id_for_label }}" class="form__label">Название рецепта</label>                
        <div class="form__field-group">
          {{ form.name|addclass:"form__input" }} 
          {% if form.errors %}                        
            {% for error in form.name.errors %}             
              <span class="form__error">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div> 
      <div class="form__group">
        <p class="form__label">Теги</p>
        <div class="form__field-group">
          <div class="tags">  
            {% for tag_model in form.fields.tag.choices.queryset %}
              <div class="tags__item">
                <input type="checkbox"
                  name="tag"
                  value= "{{ tag_model.pk }}"
                  id="id_{{ tag_model.value }}"
                  class="tags__checkbox tags__checkbox_style_{{ tag_model.style }}">
                  <label for="id_{{ tag_model.value }}" class="tags__label">{{ tag_model.name }}</label>
               </div>
            {% endfor %}
          </div>
          {% if form.errors %}
            {% for error in form.tag.errors %}
              <span class="form__error">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
</div>
<div class="form__group">                
  <label for="nameIngredient" class="form__label">Ингредиенты</label>
  <div class="form__field-group">
    <div class="form__field-group-ingredientes">
      <div class="form__dropdown">                           
        <input type="text" id="nameIngredient" class="form__input">  
          <div class="form__dropdown-items">
          </div>
      </div> 
      <input type="number" id="cantidad" class="form__input" min="0">
        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
    </div>
    <div class="form__field-group-ingredientes-container">
      {% if edit %}
        {% for ingredient in form.instance.ingredient_recipe_set.all %}
          <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
            <span>{{ ingredient.ingredient.name }} {{ ingredient.amount }} {{ ingredient.ingredient.dimension }}</span>
            <span class="form__field-item-delete"></span>
            <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredient.name }}">
            <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.amount }}">
            <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredient.dimension }}">
          </div>
        {% endfor %}
      {% endif %}
    </div>
      <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
      <span class="form__error"></span>
  </div>
</div>
<div class="form__group">
  <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label>
  <div class="form__field-group form__field-group_time">
    {{ form.time|addclass:"form__input" }}
    <label for="id_time" class="form__label">минут</label>
    {% if form.errors %}
      {% for error in form.time.errors %}
        <span class="form__error">{{ error|escape }}</span>
      {% endfor %}
    {% endif %}                    
  </div>
</div>
<div class="form__group">
  <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
  <div class="form__field-group">
    {{ form.description|addclass:"form__input" }}
    {% if form.errors %}
      {% for error in form.description.errors %}
        <span class="form__error">{{ error|escape }}</span>
      {% endfor %}
    {% endif %}                  
  </div>
</div>
<div class="form__group">
  <span class="form__label">Загрузить фото</span>
  <div class="form__field-group">
    {{ form.image }}
    {% if form.errors %}
      {% for error in form.image.errors %}
        <span class="form__error">{{ error|escape }}</span>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% if form.errors %}
  {% for error in form.non_field_errors %}
    <div class="form__group">
      <span class="form__error">{{ error|escape }}</span>
    </div>
  {% endfor %}
{% endif %}          

<div class="form__footer">
  {% if edit %}
    <button type="submit" class="button button_style_blue"> Сохранить </button>    
    <a style="margin-left: 2.5em" href="{% url 'recipe_delete' form.instance.id %}"
    class="form__ingredient-link"> Удалить </a>
  {% else %} 
    <button type="submit" class="button button_style_blue"> Создать рецепт </button> 
  {% endif %}            
</div>
</form>
</div>
{% endblock %} 

{% block scripts_js %}
{% load static %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}
